.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-min-height {
   margin: 0 auto;
}

.div-min-height {
  text-align: left;

}

.header-min-height {
  text-align: left;
}

.title-subheader {
  font-size:11px;
  color: gray;
}

.search-box {
  width: 400px;
}

.hidden { display:none; }

.sort-header {
  text-align: left;
  padding: 0;
}

.sort-box {
  text-align: right;
  padding: 0;

}

.sortby-row {
  display: flex;
  align-items: center;
}

.header-search {
  width: 100%;
  margin: 0;
  padding: 0;
  background: yellow;
}