.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-min-height {
   margin: 0 auto;
   max-height: 100px;
}

.div-min-height {
  text-align: left;

}

.header-min-height {
  text-align: left;
}

.title-subheader {
  color: gray;
}
.hidden { display:none; }


sortby-padding {
  padding:5px;
  background: yellow;
}